# VCS
.git
.gitignore

# OS/editor
.DS_Store
Thumbs.db
.vscode
.idea

# Logs and temp
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
.tmp
.temp

# Node/python/etc caches
node_modules
__pycache__

# Build/coverage
coverage
build
dist 